body,html
{
    height: 100%;
    margin: 0;
    padding: 0;
}
body
{
    font-family: sans-serif;
    color: white;
    text-align: center;
    /*
        Aplica varios colores en gradientes
    */
    background: -webkit-radial-gradient( #407BA0,
                                         #2D5772,
                                         #13242F);
}
/*Centrado absoluto de componentes*/
.nubes , .mapa
{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.nubes
{
    height: 220px;
    width: 220px;
    /*outline: 1px solid #ccc;*/
}
.nubes img
{
    position: relative;
    z-index: 20;
}
.mapa
{
    width: 200px;
    height: 200px;
    border-radius:50%;
    box-shadow: -40px -30px 0 0 rgb(0,0,0,.1) inset,
                -60px -40px 0 0 rgba(0,0,0,.1)inset,
                5px 5px 0 0 rgba(255,255,255,.2) inset;

    background: url(../img/mapa.png);
    background-size: cover;
    -webkit-animation: tierra-girando 5s infinite linear;
}

@-webkit-keyframes tierra-girando
{
    from
    {
        background-position: left center;

    }
    to
    {
        background-position: -401.8px center;
    }
}

/*
    Estrellas
*/
.estrella
{
    width: 2px;
    height: 2px;
    background: #FFF;
    position: absolute;
    border-radius:50%;
}
.primera{
    top: 30%;
    left: 50%;
}
.segunda{
    top: 30%;
    left: 30%;
}
.tercera{
    top: 90%;
    left: 90%;
}
.cuarta{
    top: 80%;
    left: 20%;
}
.quinta{
    top: 20%;
    left: 80%;
}
.sexta{
    top: 30%;
    left: 70%;
}
.septima{
    top: 60%;
    left: 80%;
}
.octva{
    top: 150%;
    left: 80%;
}
.novena{

}
.decima{
    top: 90%;
    left: 50%;
}
.estrella:nth-child(2n)
{
    -webkit-animation: estrella-par 2s infinite;
}
@-moz-keyframes  estrella-par
{
    0%
    {
        box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
    }
    100%
    {
        box-shadow: 0 0 16px 16px rgba(255,255,255,.3);
    }
}
/*
@-moz-keyframes 
{
    from
    {
        box-shadow: 0 0 3px 3px rgba(255,255,255,.3);
    }
    to
    {
        box-shadow: 0 0 16px 16px rgba(255,255,255,.3);
    }
}*/